[submodule "Packages/Hypnos-Core"]
	path = Packages/Hypnos-Core
	url = https://github.com/Wtzd8645/Hypnos-Core-CPlus.git
[submodule "Packages/mimalloc"]
	path = Packages/mimalloc
	url = https://github.com/microsoft/mimalloc.git